# For geometry v5.9 (2020/01/02) by Hideo Umeki.
# URL: https://ctan.org/pkg/geometry
# Created by Brian Schubert (2021/08/03)
{% set class_len = '##L' %}
{% set class_bool = '#true,false' %}
{% macro cursor_list() -%}
    {
    {%- for arg in varargs -%}
        %<{{ arg }}%>{% if not loop.last %},{% endif %}
    {%- endfor -%}
    }
{%- endmacro %}

## User Interface (section 4)
\geometry{options%keyvals}
\newgeometry{options%keyvals}
\restoregeometry
\savegeometry{name}#s#%geometry
\loadgeometry{name%keyvals}
#keyvals:\loadgeometry
%geometry
#endkeyvals

{% set geometry_cmds -%}\geometry,\newgeometry{% endset %}
{% set paper_types = [
    'a0paper', 'a1paper', 'a2paper', 'a3paper', 'a4paper', 'a5paper', 'a6paper',
    'b0paper', 'b1paper', 'b2paper', 'b3paper', 'b4paper', 'b5paper', 'b6paper',
    'c0paper', 'c1paper', 'c2paper', 'c3paper', 'c4paper', 'c5paper', 'c6paper',
    'b0j', 'b1j', 'b2j', 'b3j', 'b4j', 'b5j', 'b6j',
    'ansiapaper', 'ansibpaper', 'ansicpaper', 'ansidpaper', 'ansiepaper',
    'letterpaper', 'executivepaper', 'legalpaper'
] %}
## Paper size (section 5.1) (not available for \newgeometry)
#keyvals:\geometry
paper=#{{ paper_types|join(',') }}
papername=#{{ paper_types|join(',') }}
{% for p in paper_types %}
{{ p }}
{% endfor %}
screen
paperwidth={{ class_len }}
paperheight={{ class_len }}
papersize={{ class_len }}
papersize={{ cursor_list('width', 'height') }}
landscape{{ class_bool }}
portrait{{ class_bool }}
#endkeyvals

## Layout size (section 5.2)
#keyvals:{{ geometry_cmds }}
layout=#{{ paper_types|join(',') }}
layoutwidth={{ class_len }}
layoutheight={{ class_len }}
layoutsize={{ class_len }}
layoutsize={{ cursor_list('width', 'height') }}
layouthoffset={{ class_len }}
layoutvoffset={{ class_len }}
layoutoffset={{ class_len }}
layoutoffset={{ cursor_list('hoffset', 'voffset') }}
#endkeyvals

## Body size (section 5.3)
#keyvals:{{ geometry_cmds }}
hscale=%<scale%>
vscale=%<scale%>
scale=%<scale%>
scale={{ '{' }}%<hscale%>,%<vscale%>}#c
width={{ class_len }}
totalwidth={{ class_len }}
height={{ class_len }}
totalheight={{ class_len }}
total={{ class_len }}
total={{ '{' }}%<width%>,%<height%>}#c
textwidth={{ class_len }}
textheight={{ class_len }}
text={{ class_len }}
body={{ '{' }}%<width%>,%<height%>}#c
lines=%<integer%>
{% for prefix in ('include', 'ignore') %}
    {% for name in ('head', 'foot', 'headfoot', 'mp', 'all') %}
{{ prefix }}{{ name }}{{ class_bool }}
    {% endfor %}
{% endfor %}
heightrounded{{ class_bool }}
hdivide={{ '{' }}%<left margin%>, %<width%>, %<right margin%>}
vdivide={{ '{' }}%<top margin%>, %<height%>, %<bottom margin%>}
divide={{ '{' }}%<left/top margin%>, %<height/width%>, %<right/bottom margin%>}
#endkeyvals

## Margin size (section 5.4)
#keyvals:{{ geometry_cmds }}
{% for key in (
    'left', 'lmargin', 'inner',
    'right', 'rmargin', 'outer',
    'top', 'tmargin',
    'bottom', 'bmargin',
) -%}
{{ key }}={{ class_len }}
{% endfor %}
hmargin={{ class_len }}
hmargin={{ '{' }}%<left margin%>,%<right margin%>}#c
vmargin={{ class_len }}
vmargin={{ '{' }}%<top margin%>,%<bottom margin%>}#c
margin={{ '{' }}%<left/top margin%>,%<right/bottom margin%>}#c
margin={{ class_len }}
hmarginratio=<%left%>:%<right%>
vmarginratio=<%top%>:%<bottom%>
marginratio={{ '{' }}<%left%>:%<right%>,<%top%>:%<bottom%>}#c
marginratio=<%left/top%>:%<right/bottom%>
ratio={{ '{' }}<%left%>:%<right%>,<%top%>:%<bottom%>}#c
ratio=<%left/top%>:%<right/bottom%>
hcentering{{ class_bool }}
vcentering{{ class_bool }}
centering{{ class_bool }}
twoside{{ class_bool }}
asymmetric{{ class_bool }}
bindingoffset={{ class_len }}
#endkeyvals

## Native dimensions (section 5.5)
#keyvals:{{ geometry_cmds }}
headheight={{ class_len }}
head={{ class_len }}
footskip={{ class_len }}
foot={{ class_len }}
nohead{{ class_bool }}
nofoot{{ class_bool }}
noheadfoot{{ class_bool }}
footnotesep={{ class_len }}
marginparwidth={{ class_len }}
marginparsep={{ class_len }}
nomarginpar={{ class_len }}
columnsep={{ class_len }}
hoffset={{ class_len }}
voffset={{ class_len }}
offset={{ class_len }}
offset={{ '{' }}%<hoffset%>,%<voffset%>}#c
twocolumn{{ class_bool }}
onecolumn{{ class_bool }}
twoside{{ class_bool }}
reversemp{{ class_bool }}
reversemarginpar{{ class_bool }}
#endkeyvals

{% set drivers = [
    'dvips', 'dvipdfm', 'pdftex', 'luatex', 'xetex',  'vtex',
    'dvipdfmx', 'xdvipdfmx',
] %}
## Drivers (section 5.6) (not available for \newgeometry)
#keyvals:\geometry
driver=#auto,none,{{ drivers|join(',') }}
{% for d in drivers -%}
{{ d }}
{% endfor %}
#endkeyvals

## Other options (section 5.7) (not available for \newgeometry)
#keyvals:\geometry
verbose{{ class_bool }}
reset{{ class_bool }}
mag=%<magnification%>
truedimen{{ class_bool }}
pass{{ class_bool }}
showframe{{ class_bool }}
showcrop{{ class_bool }}
#endkeyvals
